transifexrc
/edx-platform/locale/*/LC_MESSAGES/*
!/edx-platform/locale/*/LC_MESSAGES/django.mo
!/edx-platform/locale/*/LC_MESSAGES/django.po
!/edx-platform/locale/*/LC_MESSAGES/djangojs.po
!/edx-platform/locale/*/LC_MESSAGES/djangojs.mo
